@page
@model DotNetProject_Team5_Armoire.Pages.CarouselModel
@{
}

@* ------------- HEADER ------------- *@
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Armoire</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AddItem/Index">Add new Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">About</a>
                    </li>
                    <li>
                        <button type="button" class="btn" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="@Model.msg">
                            <i class="fas fa-bell"></i>
                        </button> |
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container" style="text-align: center;">
    @if (Model.Clothes != null && Model.Clothes.Any())
    {
        @* ------------- TOPS ------------- *@
        <h3>@Model.Categories[0].Name</h3>
        @if (Model.Tops.Any())
        {
            <div id="topsCarousel" class="carousel slide" data-bs-ride="carousel" style="margin: 0 auto;" data-bs-interval="false" data-bs-touch="true">
                <div class="carousel-inner">
                    @foreach (var product in Model.Tops)
                    {

                        if (product == Model.Tops[0])
                        {
                            <div class="carousel-item active">
                                <img src=@product.PictureUri class="d-block carousel-img" alt="@product.ClothName">
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img src=@product.PictureUri class="d-block carousel-img" alt="@product.ClothName">
                            </div>
                        }

                    }
                </div>
                <a class="carousel-control-prev a-button btn-size" href="#topsCarousel" role="button" data-bs-slide="prev">
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next a-button btn-size" href="#topsCarousel" role="button" data-bs-slide="next">
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        }
        else
        {
            <div>
                <h4>You have no @Model.Categories[0].Name.ToLower() in your closet!</h4>
                <a asp-page="/AddItem/Index" class="a-button">Add item</a>
            </div>
           
        }

        <br/>
        @* ------------- BOTTOMS ------------- *@
        <h3>@Model.Categories[1].Name</h3>
        @if (Model.Bottoms.Any())
        {
            <div id="bottomsCarousel" class="carousel slide" data-bs-ride="carousel" style="margin: 0 auto;" data-bs-interval="false" data-bs-touch="true">
                <div class="carousel-inner">
                    @foreach (var product in Model.Bottoms)
                    {
                        if (product == Model.Bottoms[0])
                        {
                            <div class="carousel-item active">
                                <img src=@product.PictureUri class="d-block carousel-img" alt="@product.ClothName">
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img src=@product.PictureUri class="d-block carousel-img" alt="@product.ClothName">
                            </div>
                        }
                    }
                </div>
                <a class="carousel-control-prev a-button btn-size" href="#bottomsCarousel" role="button" data-bs-slide="prev">
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next a-button btn-size" href="#bottomsCarousel" role="button" data-bs-slide="next">
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        }
        else
        {
            <div>
                <h4>You have no @Model.Categories[1].Name.ToLower() in your closet!</h4>
                <a asp-page="/AddItem/Index" class="a-button">Add item</a>
            </div>
            
        }
        <br/>
        <button>Select</button>
    }
    else
    {
        <h4>You have no items in your closet!</h4>
        <br />
        <a asp-page="/AddItem/Index" class="a-button">Add Item</a>
    }

</div>

@* ------------- FOOTER ------------- *@
<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                &copy; 2020 - Armoire - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
            <div class="col-md-6 text-right">
                <ul class="list-inline">
                    <li class="list-inline-item">Follow Us:</li>
                    <li class="list-inline-item"><i class="fab fa-facebook-square"></i></li>
                    <li class="list-inline-item"><i class="fab fa-instagram-square"></i></li>
                    <li class="list-inline-item"><i class="fab fa-linkedin"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>