@page
@model DotNetProject_Team5_Armoire.Pages.DashboardModel

<div class="table-container">
    @if (Model.Clothing != null)
    {
        <div id="alert-div" class="alert alert-success" role="alert">
            <h4>New clothing successfully added!</h4>
            <table class="table">
                <tbody>
                    <tr class="closet-item">
                        <td scope="col"><img src=@Model.Clothing.PictureUri style="width:40px" ; alt="No Image" /></td>
                        <td scope="col">@Model.Clothing.ClothName</td>
                        <td scope="col">@(@Model.Clothing.CategoryId == 1 ? "Top" : "Bottom" )</td>
                        <td>@(@Model.Clothing.IsClean ? "Clean" : "Dirty")</td>
                        <td scope="col">
                            <a href="/AddItem/Index" class="a-button">Add More</a>
                            <button id="ok-btn" class="a-button">Close</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    <div class="row flex-row">
        <div class="col">
            <h2>Your Virtual Closet</h2>
        </div>
        <div class="category-filters">
            <form>
                <input type="hidden" value=null asp-for=CategoryId />
                <button type="submit" class="categ-btn">All</button>
            </form>
            <partial name="_CategoryFilterPartial" />
        </div>
    </div>
    <partial name="_pagination" for="@Model.PaginationInfo" />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Clothing</th>
                <th scope="col">Category</th>
                <th scope="col">Cleanliness</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Clothes != null && Model.Clothes.Any())
            {
                @foreach (var clothing in Model.Clothes)
                {
                    <tr>
                        <td><img src=@clothing.PictureUri style="width:40px;" /></td>
                        <td>@clothing.ClothName</td>
                        <td>@(@clothing.CategoryId == 1 ? "Top" : "Bottom" )</td>
                        <td>@(@clothing.IsClean ? "Clean" : "Dirty") </td>
                        <td>
                            <a asp-page="/EditItem/Index" class="btn btn-warning" asp-route-id="@clothing.Id">Edit</a>
                            <span style="color: #E5E5E5; margin: 0 5px;"> | </span>
                            <a asp-page="/DeleteItem" class="btn btn-danger" asp-route-id="@clothing.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <partial name="_pagination" for="@Model.PaginationInfo" />
</div>

<script>
    var div = document.getElementById("alert-div")
    var btn = document.getElementById("ok-btn");
    btn.addEventListener("click", function () {
        div.style.display = "none";
    })
</script>
