@page
@model DotNetProject_Team5_Armoire.Pages.DashboardModel
@{
}
    <div class="table-container">
        <h2>Your Virtual Closet</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Clothing</th>
                    <th scope="col">Category</th>
                    <th scope="col">Cleanliness</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Clothes != null && Model.Clothes.Any())
                {

                    @foreach (var product in Model.Clothes)
                    {
                        <tr>
                            <td><img src=@product.PictureUri style="width:40px;"/></td>
                            <td>@product.ClothName</td>
                            <td>@(@product.CategoryId == 1 ? "Top" : "Bottom" )</td>
                            <td>@(@product.IsClean ? "Clean" : "Not Clean") </td>
                            <td>
                                <a asp-page="/EditItem/Index" class="btn btn-warning" asp-route-id="@product.Id">Edit</a>
                            </td>
                            <td>
                                <a asp-page="/DeleteItem" class="btn btn-danger" asp-route-id="@product.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

